div.GameDisplay
  img 
    width: 36vw 
    height: 27vw
    box-shadow: 1vw 1vw 1.5vw rgba(0, 0, 0, .6)
  div.details
    width: 40vw
    padding: 2vw 3vw 0
    justify-content: space-between
    font-size: 2vw
  div.stats 
    margin: 0
    display: flex  
    justify-content: space-evenly
    div 
      text-align: center
      transition: transform 500ms
      &.red 
        color: #ff3a20
        transform: scale(1.1)
      &.fade 
        transition: transform 1500ms, color 1500ms
    i 
      padding-bottom: 0.5vw
      font-size: 5vw