.GameSelector 
  margin: 0 auto
  p 
    font-size: 2.4vw
    line-height: 2.4vw
    margin: 1vw 0
    color: #bba
    font-weight: 100
    cursor: pointer
    &.selected 
      font-weight: 900
      color: white