.Lobby 
  font-size: 2vw
  height: 100vh
  .row 
    justify-content: flex-start
  .left, .top-left
    width: 24vw
  .right
    width: 76vw
  .top-center
    width: 56vw
    font-family: $font-fun
    font-size: 2.5vw
  .top-right
    width: 20vw
  [class^="top"], .right
    align-items: center
  .left, .right, [class^="top"] 
    display: flex 
    flex-direction: column 
    justify-content: center
    height: 100%
  img.logo 
    height: 10vw
    margin-top: 1vw
  .room-code
    font-size: 5vw
    line-height: 5vw
    font-family: $font-fun
  .grid 
    width: 95%