.NewRoom
  div.darken
    background-color: rgba(20,35,50,.3)
  div.header
    height: 80%
    width: 100%
    .room-code
      font-size: 24pt
      @media screen and (max-width: $lg)
        font-size: 18pt
    #code 
      font-family: $font-fun
      font-size: 64pt
      margin: -28pt 0 -16pt
      @media screen and (max-width: $lg) 
        font-size: 42pt
        margin: -20pt 0 -14pt
  div.grid
    width: 96%
  div.website
    height: 80%
    width: 100%
    font-size: 24pt 
    @media screen and (max-width: $lg) 
      font-size: 17pt 