.PlayerGrid
  height: 100%
  width: 100%
    
  *, *:before, *:after 
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box


  .flexbox 
    display: flex
    flex-direction: row
    align-items: center 
    align-content: center 
    flex-wrap: wrap
    height: 100%
    width: 100%

  .flex-item  
    // height: 100px
    flex: 1
    overflow: hidden

    transition: all 500ms linear
    text-align: center
    display: flex 
    justify-content: center 
  
  .flex-item:first-child 
    border-left: none

  .hover-collapse-item 
    white-space: nowrap
    background: rgba(150, 0, 150, .3)
  
  .flexbox:hover .hover-collapse-item 
    /* 0 does not work so we have to use a small number */
    flex: .00001


  .new-item 
    /* 0 does not work so we have to use a small number */
    /* Start our small */
    flex: .00001

    min-width: 0

  .grow-4
    -webkit-animation: flexGrow-4 500ms ease forwards
    -o-animation: flexGrow-4 500ms ease forwards
    animation: flexGrow-4 500ms ease forwards
  .grow-8
    -webkit-animation: flexGrow-8 500ms ease forwards
    -o-animation: flexGrow-8 500ms ease forwards
    animation: flexGrow-8 500ms ease forwards
    img 
      max-width: 11.2vw
  .grow-16
    -webkit-animation: flexGrow-16 500ms ease forwards
    -o-animation: flexGrow-16 500ms ease forwards
    animation: flexGrow-16 500ms ease forwards
    img 
      max-width: 5.6vw
  

  .remove-item 
    flex: 1

    -webkit-animation: flexShrink 500ms ease forwards
    -o-animation: flexShrink 500ms ease forwards
    animation: flexShrink 500ms ease forwards
  

    
  
