.ProfileCard
  margin: 0
  padding: 0
  width: 12vw
  display: block
  img 
    width: 11vw
    border-radius: 10%
  .name
    font-size: 24pt
    line-height: 24pt
    margin-bottom: 5px
    text-align: center
    @media screen and (max-width: $xl)
      font-size: 20pt
    @media screen and (max-width: $lg)
      font-size: 17pt
      line-height: 17pt