.ProfileCard
  margin: 0
  padding: 14px 18px
  width: 170px
  @media screen and (max-width: $xl)
    padding: 13px 17px
    width: 155px
  @media screen and (max-width: $lg)
    padding: 12px 15px
    width: 140px
  img 
    margin-bottom: 6px
    border-radius: 24px
    width: 100%
    @media screen and (max-width: $lg)
      margin-bottom: 0
  .name
    font-size: 24pt
    text-align: center
    @media screen and (max-width: $xl)
      font-size: 20pt
    @media screen and (max-width: $lg)
      font-size: 17pt
      line-height: 17pt