div.StoryTime
  div.story-text
    display: block 
    margin: 54px 54px 120px
    background-color: rgba(0,0,0,.5)
    color: white
    text-align: center 
    width: 80vw
    font-size: 28pt 
    padding: 42px 48px 48px
    @media screen and (max-width: $xl)
      margin: 39px 39px 100px
      font-size: 22pt
      padding: 31px 40px 34px  
    @media screen and (max-width: $lg)
      margin: 24px 24px 80px
      font-size: 16pt
      padding: 20px 32px 22px  
    &.prompt 
      font-size: 34pt 
      margin: 0
      max-width: 75vw
      @media screen and (max-width: $xl)
        font-size: 26pt
      @media screen and (max-width: $lg)
        font-size: 18pt
  .grid 
    width: 90%
  .writer-cards
    position: absolute 
    bottom: 2vh
    align-items: flex-end 
    @media screen and (max-width: $lg)
      bottom: 0 
  .WriterCard 
    width: 22vw
    .speech-bubble 
      box-shadow: 10px 10px 4px rgba(0, 0, 0, .5)
      position: relative
      bottom: 15px
      background: white 
      color: black 
      font-size: 20pt
      border-radius: 50px
      padding: 20px 50px
      margin: 0 15px 
      transition-duration: 300ms
      text-align: center
      @media screen and (max-width: $xl)
        font-size: 16pt
        border-radius: 35px
        padding: 15px 35px
      @media screen and (max-width: $lg)
        font-size: 14pt
        border-radius: 20px
        padding: 10px 20px
    .speech-bubble:after 
      box-shadow: 10px 10px 4px rgba(0, 0, 0, .5)
      content: ''
      position: absolute
      bottom: 0
      left: 50%
      width: 0
      height: 0
      border: 20px solid transparent
      border-top-color: white
      border-bottom: 0
      border-left: 0
      margin-left: -10px
      margin-bottom: -20px
    