.game-display 
  .Meme.Title
    flex-direction: column
    .line
      font-size: 12vw
      -webkit-text-stroke: 0.4vw rgba(0,0,0,0.8)
      line-height: 10vw
      font-family: $font-fun
      display: flex
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
      text-transform: uppercase
      &:last-child 
        font-size: 15vw
        line-height: 12vw
      .word
        padding: 2vw
        opacity: 0
        &.cross-zoom-in 
          opacity: 1
  .Meme.Vote
    #memes
      width: 100vw
      height: 100vh
      display: flex
      align-items: center
      justify-content: space-evenly
      .meme
        background-color: white
        color: black
        text-align: center
        display: flex
        flex-direction: column
        width: 39vw
        box-shadow: 10px 10px 4px rgba(0, 0, 0, .5)
        opacity: 0 
        &.cross-zoom-in 
          opacity: 1
        .caption
          font-size: 3vw
          line-height: 3.5vw
          padding: 1vw 1.7vw
        img
          width: 36vw
          height: 33vw
          margin: 0 auto 1.2vw
 