.game-display 
  .Meme.Title
    flex-direction: column
    .line
      font-size: 12vw
      -webkit-text-stroke: 0.4vw rgba(0,0,0,0.8)
      line-height: 10vw
      display: flex
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
      text-transform: uppercase
      &:last-child 
        font-size: 15vw
        line-height: 12vw
      .word
        padding: 2vw
        opacity: 0
        &.cross-zoom-in 
          opacity: 1
  .Meme.Vote
    #dankest
      font-size: 15vw
      -webkit-text-stroke: 0.4vw rgba(0,0,0,0.8)
      display: flex
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
      text-transform: uppercase
      position: fixed
      width: 100vw 
      height: 100vh
      align-items: center
      justify-content: center 
      top: 0
      left: 0
      div 
        opacity: 0 
        &.cross-zoom-in 
          opacity: 1
    #memes, #stats
      width: 100vw
      display: flex
      align-items: center
      height: 100vh
    #memes
      justify-content: space-evenly
    .meme
      background-color: white
      color: black
      text-align: center
      display: flex
      flex-direction: column
      width: 38vw
      box-shadow: 10px 10px 4px rgba(0, 0, 0, .5)
      opacity: 0 
      &.cross-zoom-in 
        opacity: 1
      .caption
        font-size: 2.7vw
        line-height: 2.8vw
        padding: .9vw 1.6vw
      img
        width: 35vw
        height: 30vw
        margin: 0 auto 1.2vw
    #stats 
      justify-content: center
      .stat 
        width: 35vw
        text-align: center
        font-size: 4vw
        text-shadow: .4vw .3vw .7vw black
        div 
          padding: 1vh 0
        .percent 
          color: #fff0bb
          font-size: 10vw
          font-weight: 900
          text-shadow: 1vw 1vw 1vw black
          font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
        .points 
          font-size: 5vw
          font-family: impact
          color: #33bb33