body {
  background-color: #000000;
  height: 100vh;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  font-family: "Nunito", verdana, arial, sans-serif;
  color: white;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Landing {
  font-family: 'Comfortaa', sans-serif;
}

.Landing div {
  padding-top: 0;
}

.Landing img.logo {
  margin: 5vh 0 5vh 0;
  width: 17vw;
  max-width: 250px;
  min-width: 150px;
}

.Landing p {
  max-width: 640px;
  font-size: 18pt;
  line-height: 28pt;
  text-align: center;
  margin: 0 0 18pt;
}

@media screen and (max-width: 1040px) {
  .Landing p {
    font-size: 13pt;
    line-height: 16pt;
    margin-bottom: 9pt;
  }
}

.Landing p.notice {
  font-size: 20pt;
  line-height: 36pt;
  width: 450px;
  margin: 44px 0 54px;
}

@media screen and (max-width: 1040px) {
  .Landing p.notice {
    font-size: 16pt;
    line-height: 20pt;
    margin: 10px 0 30px;
    width: 400px;
  }
}

.Landing div.instructions {
  margin: 44px 0 54px;
}

@media screen and (max-width: 1040px) {
  .Landing div.instructions {
    margin: 0 0 20px;
  }
}

.Landing span.song-titles {
  font-weight: 100;
  font-style: italic;
}

.Landing .option {
  width: 320px;
  height: 340px;
  margin: 0 48px 48px;
  border: white solid 6px;
  border-radius: 16px;
  font-size: 24pt;
  cursor: pointer;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

.Landing .option:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.Landing .option .icon {
  font-size: 100pt;
  padding: 54px 0 32px;
}

@media screen and (max-width: 1040px) {
  .Landing .option {
    width: 220px;
    height: 240px;
    margin: 0 28px 24px;
    border-width: 4px;
    font-size: 16pt;
  }
  .Landing .option .icon {
    font-size: 68pt;
    padding: 40px 0 20px;
  }
}

@media screen and (max-width: 640px) {
  .Landing .option {
    margin: 0 8px 18px;
  }
}

.Landing .btn {
  border: #3fa9f5 solid 3px;
  border-radius: 16px;
  font-size: 20pt;
  color: #def0f3;
  padding: 10pt 36pt 12pt;
  margin: 8px auto 18px;
  cursor: pointer;
  width: 350px;
  text-align: center;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

@media screen and (max-width: 1040px) {
  .Landing .btn {
    font-size: 17pt;
    width: 300px;
  }
}

.Landing .btn:hover {
  border-color: white;
}

.Landing .link {
  font-size: 18pt;
  color: white;
  padding: 10pt 0;
  margin: 8px auto 18px;
  cursor: pointer;
  text-align: center;
}

@media screen and (max-width: 1040px) {
  .Landing .link {
    font-size: 12pt;
    padding: 0;
    margin-top: 0;
  }
}

.Landing .link:hover {
  text-decoration: underline;
}

.NewRoom div.darken {
  background-color: rgba(20, 35, 50, 0.3);
}

.NewRoom div.header {
  height: 80%;
  width: 100%;
}

.NewRoom div.header .room-code {
  font-size: 24pt;
}

@media screen and (max-width: 1040px) {
  .NewRoom div.header .room-code {
    font-size: 18pt;
  }
}

.NewRoom div.header #code {
  font-family: "Gloria Hallelujah", verdana, arial, sans-serif;
  font-size: 64pt;
  margin: -28pt 0 -16pt;
}

@media screen and (max-width: 1040px) {
  .NewRoom div.header #code {
    font-size: 42pt;
    margin: -20pt 0 -14pt;
  }
}

.NewRoom div.grid {
  width: 96%;
}

.NewRoom div.website {
  height: 80%;
  width: 100%;
  font-size: 24pt;
}

@media screen and (max-width: 1040px) {
  .NewRoom div.website {
    font-size: 17pt;
  }
}

.ProfileCard {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ProfileCard img {
  border-radius: 10%;
  max-width: 14vw;
  padding-bottom: 6px;
}

.ProfileCard .name {
  font-size: 24pt;
  line-height: 24pt;
  margin-bottom: 5px;
  text-align: center;
}

@media screen and (max-width: 1400px) {
  .ProfileCard .name {
    font-size: 20pt;
  }
}

@media screen and (max-width: 1040px) {
  .ProfileCard .name {
    font-size: 17pt;
    line-height: 17pt;
  }
}

.PlayerGrid {
  height: 100%;
  width: 100%;
}

.PlayerGrid *, .PlayerGrid *:before, .PlayerGrid *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.PlayerGrid .flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.PlayerGrid .flex-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.PlayerGrid .flex-item:first-child {
  border-left: none;
}

.PlayerGrid .hover-collapse-item {
  white-space: nowrap;
  background: rgba(150, 0, 150, 0.3);
}

.PlayerGrid .flexbox:hover .hover-collapse-item {
  /* 0 does not work so we have to use a small number */
  -webkit-box-flex: .00001;
      -ms-flex: .00001;
          flex: .00001;
}

.PlayerGrid .new-item {
  /* 0 does not work so we have to use a small number */
  /* Start our small */
  -webkit-box-flex: .00001;
      -ms-flex: .00001;
          flex: .00001;
  min-width: 0;
}

.PlayerGrid .grow-4 {
  -webkit-animation: flexGrow-4 500ms ease forwards;
  animation: flexGrow-4 500ms ease forwards;
}

.PlayerGrid .grow-8 {
  -webkit-animation: flexGrow-8 500ms ease forwards;
  animation: flexGrow-8 500ms ease forwards;
}

.PlayerGrid .grow-8 img {
  max-width: 11.2vw;
}

.PlayerGrid .grow-16 {
  -webkit-animation: flexGrow-16 500ms ease forwards;
  animation: flexGrow-16 500ms ease forwards;
}

.PlayerGrid .grow-16 img {
  max-width: 5.6vw;
}

.PlayerGrid .remove-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-animation: flexShrink 500ms ease forwards;
  animation: flexShrink 500ms ease forwards;
}

.Lobby {
  height: 98vh;
}

.Lobby .row {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.Lobby .left {
  width: 28%;
}

.Lobby .right {
  width: 72%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.Lobby .left, .Lobby .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.Lobby img.logo {
  height: 35vh;
  max-height: 30vw;
  padding: 2vh 0;
}

.Lobby .room-code {
  margin-left: auto;
  font-size: 5rem;
  font-family: "Gloria Hallelujah", verdana, arial, sans-serif;
  line-height: 5rem;
  padding: 6vh 8vw;
}

@media screen and (max-width: 1400px) {
  .Lobby .room-code {
    font-size: 4rem;
    line-height: 3.8rem;
  }
}

@media screen and (max-width: 1040px) {
  .Lobby .room-code {
    font-size: 3.2rem;
    line-height: 3.2rem;
  }
}

@media screen and (max-width: 800px) {
  .Lobby .room-code {
    font-size: 2.4rem;
    line-height: 2.4rem;
  }
}

.Lobby .grid {
  width: 95%;
}

.GameSelector {
  padding-top: 2vh;
}

.GameSelector p {
  font-size: 2.4rem;
  margin: 1vw 0;
  color: #bba;
  font-weight: 100;
}

.GameSelector p.selected {
  font-weight: 900;
  font-size: 2.7rem;
  color: white;
}

@media screen and (max-width: 1400px) {
  .GameSelector p {
    font-size: 1.8rem;
  }
  .GameSelector p.selected {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1040px) {
  .GameSelector p {
    font-size: 1.6rem;
  }
  .GameSelector p.selected {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 800px) {
  .GameSelector p {
    font-size: 1.4rem;
  }
  .GameSelector p.selected {
    font-size: 1.5rem;
  }
}

div.GameDisplay {
  margin: 3vh auto auto auto;
}

div.GameDisplay img {
  width: 600px;
  height: 450px;
  -webkit-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1400px) {
  div.GameDisplay img {
    width: 440px;
    height: 330px;
  }
}

@media screen and (max-width: 1040px) {
  div.GameDisplay img {
    width: 360px;
    height: 270px;
  }
}

@media screen and (max-width: 800px) {
  div.GameDisplay img {
    width: 320px;
    height: 240px;
  }
}

div.GameDisplay div.details {
  width: 40%;
  padding: 2% 0 0 4%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 2.2rem;
}

@media screen and (max-width: 1400px) {
  div.GameDisplay div.details {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 1040px) {
  div.GameDisplay div.details {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 800px) {
  div.GameDisplay div.details {
    font-size: 1rem;
  }
}

div.GameDisplay div.stats {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

div.GameDisplay div.stats div {
  text-align: center;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

div.GameDisplay div.stats div.red {
  color: #ff4422;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

div.GameDisplay div.stats div.fade {
  -webkit-transition: color 1500ms, -webkit-transform 1500ms;
  transition: color 1500ms, -webkit-transform 1500ms;
  transition: transform 1500ms, color 1500ms;
  transition: transform 1500ms, color 1500ms, -webkit-transform 1500ms;
}

div.GameDisplay div.stats i {
  padding-bottom: 3px;
  font-size: 5rem;
}

@media screen and (max-width: 1400px) {
  div.GameDisplay div.stats i {
    font-size: 4rem;
  }
}

@media screen and (max-width: 1040px) {
  div.GameDisplay div.stats i {
    font-size: 3rem;
  }
}

@media screen and (max-width: 800px) {
  div.GameDisplay div.stats i {
    font-size: 2.2rem;
  }
}

.Timer {
  display: none;
  position: fixed;
  top: 1vh;
  left: 0;
  width: 100%;
  height: 2vh;
}

.Timer div {
  display: block;
  margin: auto;
  -webkit-transition: background-color 1000ms;
  transition: background-color 1000ms;
  height: 1vh;
  border-bottom: rgba(0, 0, 0, 0.5) solid 2px;
  border-radius: 1vh;
}

div.StoryTime {
  overflow: hidden;
}

div.StoryTime div.story-text {
  display: block;
  margin: 54px 54px 120px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  width: 80vw;
  font-size: 28pt;
  padding: 42px 48px 48px;
}

@media screen and (max-width: 1400px) {
  div.StoryTime div.story-text {
    margin: 39px 39px 100px;
    font-size: 22pt;
    padding: 31px 40px 34px;
  }
}

@media screen and (max-width: 1040px) {
  div.StoryTime div.story-text {
    margin: 24px 24px 80px;
    font-size: 16pt;
    padding: 20px 32px 22px;
  }
}

div.StoryTime div.story-text.prompt {
  font-size: 34pt;
  margin: 0;
  max-width: 75vw;
}

@media screen and (max-width: 1400px) {
  div.StoryTime div.story-text.prompt {
    font-size: 26pt;
  }
}

@media screen and (max-width: 1040px) {
  div.StoryTime div.story-text.prompt {
    font-size: 18pt;
  }
}

div.StoryTime .grid {
  width: 90%;
}

div.StoryTime .writer-cards {
  position: absolute;
  bottom: 2vh;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 1040px) {
  div.StoryTime .writer-cards {
    bottom: 0;
  }
}

div.StoryTime .WriterCard {
  width: 22vw;
}

div.StoryTime .WriterCard .speech-bubble {
  min-width: 150px;
  min-height: 40px;
  -webkit-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.5);
  position: relative;
  bottom: 20px;
  background: white;
  color: black;
  font-size: 21pt;
  border-radius: 50px;
  padding: 18px 30px 20px 30px;
  margin: 0 15px;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  text-align: center;
}

@media screen and (max-width: 1400px) {
  div.StoryTime .WriterCard .speech-bubble {
    font-size: 19pt;
    border-radius: 35px;
    padding: 13px 20px 15px 20px;
  }
}

@media screen and (max-width: 1040px) {
  div.StoryTime .WriterCard .speech-bubble {
    font-size: 17pt;
    border-radius: 20px;
    padding: 7px 10px 10px 10px;
  }
}

div.StoryTime .WriterCard .speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: white;
  border-bottom: 0;
  border-left: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}

.StoryTime.Winner .WriterCard {
  width: 30vw;
}

.StoryTime.Winner .speech-bubble {
  -webkit-animation: 1200ms ease-out 0s 1 slideInFromTop;
          animation: 1200ms ease-out 0s 1 slideInFromTop;
}

.StoryTime.Winner .ProfileCard {
  -webkit-animation: 800ms ease-out 0s 1 slideInFromBottom;
          animation: 800ms ease-out 0s 1 slideInFromBottom;
}

.Speakeasy {
  overflow: hidden;
}

.Speakeasy.Breakdown .line {
  display: none;
  color: white;
  font-size: 72pt;
}

@media screen and (max-width: 1400px) {
  .Speakeasy.Breakdown .line {
    font-size: 66pt;
  }
}

@media screen and (max-width: 1040px) {
  .Speakeasy.Breakdown .line {
    font-size: 50pt;
  }
}

.Speakeasy.Rounds .indicator {
  width: 15vw;
  height: 15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.5vw black solid;
  border-radius: 50%;
  -webkit-box-shadow: 7px 7px rgba(0, 0, 0, 0.2);
          box-shadow: 7px 7px rgba(0, 0, 0, 0.2);
  margin: 0 10px;
  color: #ddd;
  text-shadow: 4pt 3pt #000000;
  font-size: 72pt;
  -webkit-transition: background-color 1000ms;
  transition: background-color 1000ms;
}

@media screen and (max-width: 1400px) {
  .Speakeasy.Rounds .indicator {
    font-size: 60pt;
  }
}

@media screen and (max-width: 1040px) {
  .Speakeasy.Rounds .indicator {
    font-size: 50pt;
  }
}

.Speakeasy.Rounds .indicator.number {
  background-color: rgba(30, 30, 50, 0.5);
}

.Speakeasy.Rounds .indicator.success {
  background-color: rgba(0, 240, 0, 0.5);
}

.Speakeasy.Rounds .indicator.fail {
  background-color: rgba(240, 0, 0, 0.5);
}

.Speakeasy.Slides div.wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.Speakeasy.Slides div.wrapper div.slide {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Speakeasy.Slides div.wrapper div.slide img {
  height: 100%;
  max-width: 100%;
}

.Speakeasy.Owner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100vw;
}

.Speakeasy.Map img {
  width: 100vw;
}

a {
  display: block;
  text-decoration: none;
  color: #f0ffff;
  margin: 0;
}

.bg-video {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;
  display: block;
  min-height: 100%;
}

.center-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: auto;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div[class^="v-"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

div.v-5 {
  height: 5vh;
}

div.v-10 {
  height: 10vh;
}

div.v-15 {
  height: 15vh;
}

div.v-20 {
  height: 20vh;
}

div.v-25 {
  height: 25vh;
}

div.v-30 {
  height: 30vh;
}

div.v-35 {
  height: 35vh;
}

div.v-40 {
  height: 40vh;
}

div.v-45 {
  height: 45vh;
}

div.v-50 {
  height: 50vh;
}

div.v-55 {
  height: 55vh;
}

div.v-60 {
  height: 60vh;
}

div.v-65 {
  height: 65vh;
}

div.v-70 {
  height: 70vh;
}

div.v-75 {
  height: 75vh;
}

div.v-80 {
  height: 80vh;
}

div.v-85 {
  height: 85vh;
}

div.v-90 {
  height: 90vh;
}

div.v-95 {
  height: 95vh;
}

div.v-100 {
  height: 100vh;
}

@-webkit-keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slideInFromRight {
  0% {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slideInFromTop {
  0% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideInFromTop {
  0% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slideInFromBottom {
  0% {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
    display: none;
  }
}

@keyframes slideLeft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
    display: none;
  }
}

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
    display: none;
  }
}

@keyframes slideRight {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
    display: none;
  }
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
}

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
}

.slide-in-from-top {
  -webkit-animation: 1000ms ease-out 0s 1 slideInFromTop;
          animation: 1000ms ease-out 0s 1 slideInFromTop;
}

.slide-in-from-bottom {
  -webkit-animation: 1000ms ease-out 0s 1 slideInFromBottom;
          animation: 1000ms ease-out 0s 1 slideInFromBottom;
}

.slide-in-from-left {
  -webkit-animation: 1000ms ease-out 0s 1 slideInFromLeft;
          animation: 1000ms ease-out 0s 1 slideInFromLeft;
}

.slide-in-from-right {
  -webkit-animation: 1000ms ease-out 0s 1 slideInFromRight;
          animation: 1000ms ease-out 0s 1 slideInFromRight;
}

[class*="slide-in-"] {
  display: block !important;
}

.slide-up {
  -webkit-animation: 1000ms ease-out 0s 1 slideUp forwards;
          animation: 1000ms ease-out 0s 1 slideUp forwards;
}

.slide-down {
  -webkit-animation: 1000ms ease-out 0s 1 slideDown forwards;
          animation: 1000ms ease-out 0s 1 slideDown forwards;
}

.slide-left {
  -webkit-animation: 1000ms ease-out 0s 1 slideLeft forwards;
          animation: 1000ms ease-out 0s 1 slideLeft forwards;
}

.slide-right {
  -webkit-animation: 1000ms ease-out 0s 1 slideRight forwards;
          animation: 1000ms ease-out 0s 1 slideRight forwards;
}

@-webkit-keyframes flexGrow-4 {
  to {
    -webkit-box-flex: 1;
            flex: 1;
    min-width: 25%;
  }
}

@keyframes flexGrow-4 {
  to {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    min-width: 25%;
  }
}

@-webkit-keyframes flexGrow-8 {
  to {
    -webkit-box-flex: 1;
            flex: 1;
    min-width: 12.5%;
  }
}

@keyframes flexGrow-8 {
  to {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    min-width: 12.5%;
  }
}

@-webkit-keyframes flexGrow-16 {
  to {
    -webkit-box-flex: 1;
            flex: 1;
    min-width: 6.2%;
  }
}

@keyframes flexGrow-16 {
  to {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    min-width: 6.2%;
  }
}

@-webkit-keyframes flexShrink {
  to {
    -webkit-box-flex: .01;
            flex: .01;
    -webkit-box-flex: .00001;
            flex: .00001;
    min-width: 0;
  }
}

@keyframes flexShrink {
  to {
    -webkit-box-flex: .01;
        -ms-flex: .01;
            flex: .01;
    -webkit-box-flex: .00001;
        -ms-flex: .00001;
            flex: .00001;
    min-width: 0;
  }
}

body.device {
  background-color: white;
  color: black;
  max-width: 100vw;
  height: 100vh;
  text-align: center;
}

body.device .JoinRoom {
  font-size: 20pt;
}

body.device .JoinRoom input.textbox {
  width: 100vw;
  max-width: 300px;
  height: 64px;
  text-align: center;
  font-family: "Gloria Hallelujah", verdana, arial, sans-serif;
  color: #303544;
  margin: 8px 0 20px;
}

body.device .JoinRoom input#room-code {
  font-size: 48pt;
  text-transform: uppercase;
}

body.device .JoinRoom input#player-name {
  font-size: 42pt;
}

body.device .JoinRoom .pictures {
  display: block;
  max-width: 330px;
  max-height: 330px;
  width: 99vw;
  height: 99vw;
  margin: 8px auto 24px;
  padding: 0;
}

body.device .JoinRoom img {
  max-width: 100px;
  max-height: 100px;
  width: 28vw;
  height: 28vw;
  padding: 0;
  margin: 2px 5px;
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
  border-radius: 6px;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  cursor: pointer;
}

body.device .JoinRoom img.selected {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

body.device img.logo {
  width: 80vw;
  max-width: 200px;
  margin: 15px 0 25px 0;
}

body.device .StoryTime textarea {
  font-family: "Nunito", verdana, arial, sans-serif;
  font-size: 14pt;
  padding: 0 4pt;
  width: 98vw;
  margin: 10px auto 24px;
  max-width: 300px;
}

.SelectGame {
  margin-bottom: 18px;
}

.SelectGame img {
  cursor: pointer;
}

.SelectGame .arrows {
  height: 125px;
  height: 125px;
}

.SelectGame .arrows img {
  width: 125px;
  height: 125px;
  margin: 0 6px 0;
}

.SelectGame img#select {
  width: 135px;
  height: 135px;
}

body.device .btn {
  font-size: 20pt;
  background-color: #3fa9f5;
  line-height: 70px;
  width: 90vw;
  max-width: 360px;
  border-radius: 40px;
  color: white;
  margin: 0 0 16px;
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
}

body.device .btn:hover {
  background-color: #6fbff8;
  cursor: pointer;
}

body.device .btn-half {
  width: 42vw;
  max-width: 165px;
  margin-left: 6px;
  margin-right: 6px;
  line-height: 60px;
}

body.device .btn-link {
  text-decoration: underline;
  color: #500;
  width: 150px;
  margin: 6px auto 12px;
}

body.device .btn-link:hover {
  color: #d00;
  cursor: pointer;
}

body.device p {
  width: 95vw;
  max-width: 400px;
  font-size: 19pt;
  padding: 6pt 0 18pt;
}

body.device .font-large {
  font-size: 19pt;
}

body.device div.vote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100vw;
  max-width: 330px;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body.device div.vote img {
  width: 40%;
  height: 40%;
  padding: 0;
  margin: 5px 5px;
  border-radius: 8px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */