body {
  background-color: #f0f0ff;
  height: 100vh;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", verdana, arial, sans-serif;
  color: white;
  background-color: white;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Landing {
  font-family: 'Comfortaa', sans-serif;
}

.Landing .title1 {
  color: #44bbff;
  font-size: 72pt;
}

.Landing .title2 {
  color: #ddddee;
  font-size: 32pt;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 4pt;
}

.Landing .option {
  width: 320px;
  height: 340px;
  margin: 64px 48px;
  border: white solid 6px;
  border-radius: 16px;
  font-size: 24pt;
  cursor: pointer;
}

.Landing .option .icon {
  font-size: 100pt;
  padding: 54px 0 32px;
}

.Landing .btn {
  border: #fff099 solid 3px;
  border-radius: 16px;
  font-size: 18pt;
  color: #fff099;
  padding: 8pt 36pt 10pt;
  margin: 8px;
  cursor: pointer;
}

.NewRoom div.header {
  background-color: rgba(20, 35, 50, 0.3);
  margin-top: 18px;
}

.NewRoom div.header .room-code {
  padding-top: 12pt;
  font-size: 32pt;
}

.NewRoom div.header #code {
  margin: -36pt 0 -18pt;
  font-size: 84pt;
  font-family: "Gloria Hallelujah", verdana, arial, sans-serif;
}

.NewRoom div.players {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 1200px;
  height: 640px;
}

.ProfileCard {
  margin: 24px 18px;
  width: 200px;
}

.ProfileCard img {
  margin-bottom: 6px;
  border-radius: 24px;
}

.ProfileCard .name {
  font-size: 28pt;
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  color: #f0ffff;
  margin: 0;
}

.bg-video {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;
  display: block;
  min-height: 100%;
}

.center-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (pointer: none), (pointer: coarse) {
  .Computer {
    display: none;
  }
}

.Device {
  display: none;
}

@media (pointer: none), (pointer: coarse) {
  .Device {
    display: block;
  }
}

body div#DeviceDisplay {
  color: black;
  background-color: #f9fbfd;
  max-width: 100vw;
  height: 100vh;
  text-align: center;
}

.JoinRoom {
  font-size: 20pt;
}

.JoinRoom p {
  width: 98vw;
  max-width: 400px;
  font-size: 19pt;
  padding: 6pt 0 18pt;
}

.JoinRoom input.textbox {
  width: 100vw;
  max-width: 300px;
  height: 64px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Gloria Hallelujah", verdana, arial, sans-serif;
  margin: 12px 0 32px;
}

.JoinRoom input#room-code {
  font-size: 48pt;
}

.JoinRoom input#player-name {
  font-size: 40pt;
}

.JoinRoom .pictures {
  width: 330px;
  height: 330px;
  margin: 8px 0 24px;
  padding: 0;
}

.JoinRoom img {
  width: 100px;
  height: 100px;
  padding: 0;
  margin: 2px 5px;
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
  border-radius: 6px;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  cursor: pointer;
}

.JoinRoom img.selected {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.JoinRoom div.title1 {
  padding-top: 20px;
  font-size: 46pt;
  color: #44bbff;
}

.JoinRoom div.title2 {
  padding-bottom: 24px;
  text-transform: uppercase;
  letter-spacing: 3pt;
  font-weight: 900;
  color: #9999aa;
}

#DeviceDisplay .btn {
  background-color: #2bb2ff;
  line-height: 80px;
  width: 90vw;
  max-width: 360px;
  border-radius: 40px;
  color: white;
  margin-bottom: 36px;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

#DeviceDisplay .btn:hover {
  background-color: #77ceff;
  cursor: pointer;
}

@media (pointer: none), (pointer: coarse) {
  .Computer {
    display: none;
  }
}

.Device {
  display: none;
}

@media (pointer: none), (pointer: coarse) {
  .Device {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */