body {
  background-color: #000000;
  height: 100vh;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  font-family: "Nunito", verdana, arial, sans-serif;
  color: white;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Landing {
  font-family: 'Comfortaa', sans-serif;
}

.Landing div {
  padding-top: 0;
}

.Landing img.logo {
  margin: 5vh 0 5vh 0;
  width: 17vw;
  max-width: 250px;
  min-width: 150px;
}

.Landing p {
  max-width: 640px;
  font-size: 18pt;
  line-height: 28pt;
  text-align: center;
  margin: 0 0 18pt;
}

@media screen and (max-width: 1040px) {
  .Landing p {
    font-size: 13pt;
    line-height: 16pt;
    margin-bottom: 9pt;
  }
}

.Landing p.notice {
  font-size: 20pt;
  line-height: 36pt;
  width: 450px;
  margin: 44px 0 54px;
}

@media screen and (max-width: 1040px) {
  .Landing p.notice {
    font-size: 16pt;
    line-height: 20pt;
    margin: 10px 0 30px;
    width: 400px;
  }
}

.Landing div.instructions {
  margin: 44px 0 54px;
}

@media screen and (max-width: 1040px) {
  .Landing div.instructions {
    margin: 0 0 20px;
  }
}

.Landing .option {
  width: 320px;
  height: 340px;
  margin: 0 48px 48px;
  border: white solid 6px;
  border-radius: 16px;
  font-size: 24pt;
  cursor: pointer;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

.Landing .option:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.Landing .option .icon {
  font-size: 100pt;
  padding: 54px 0 32px;
}

@media screen and (max-width: 1040px) {
  .Landing .option {
    width: 220px;
    height: 240px;
    margin: 0 28px 24px;
    border-width: 4px;
    font-size: 16pt;
  }
  .Landing .option .icon {
    font-size: 68pt;
    padding: 40px 0 20px;
  }
}

@media screen and (max-width: 640px) {
  .Landing .option {
    margin: 0 8px 18px;
  }
}

.Landing .btn {
  border: #3fa9f5 solid 3px;
  border-radius: 16px;
  font-size: 20pt;
  color: #def0f3;
  padding: 10pt 36pt 12pt;
  margin: 8px auto 18px;
  cursor: pointer;
  width: 350px;
  text-align: center;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

@media screen and (max-width: 1040px) {
  .Landing .btn {
    font-size: 17pt;
    width: 300px;
  }
}

.Landing .btn:hover {
  border-color: white;
}

.Landing .link {
  font-size: 18pt;
  color: white;
  padding: 10pt 0;
  margin: 8px auto 18px;
  cursor: pointer;
  text-align: center;
}

@media screen and (max-width: 1040px) {
  .Landing .link {
    font-size: 12pt;
    padding: 0;
    margin-top: 0;
  }
}

.Landing .link:hover {
  text-decoration: underline;
}

.NewRoom div.header {
  background-color: rgba(20, 35, 50, 0.3);
  margin-top: 3vh;
}

.NewRoom div.header .room-code {
  padding-top: 7pt;
  font-size: 24pt;
}

@media screen and (max-width: 1040px) {
  .NewRoom div.header .room-code {
    padding-top: 5pt;
    font-size: 18pt;
  }
}

.NewRoom div.header #code {
  font-family: "Gloria Hallelujah", verdana, arial, sans-serif;
  font-size: 64pt;
  margin: -28pt 0 -16pt;
}

@media screen and (max-width: 1040px) {
  .NewRoom div.header #code {
    font-size: 42pt;
    margin: -20pt 0 -14pt;
  }
}

.NewRoom div.players {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 65vh;
  max-height: 700px;
  padding-top: 3vh;
  width: 96vw;
}

@media screen and (max-width: 1400px) {
  .NewRoom div.players {
    height: 60vh;
  }
}

.NewRoom div.website {
  background-color: rgba(20, 35, 50, 0.3);
  position: fixed;
  bottom: 5vh;
  font-size: 24pt;
  padding: 32px 0 36px;
}

@media screen and (max-width: 1040px) {
  .NewRoom div.website {
    font-size: 17pt;
    padding: 18px 0 18px;
  }
}

.ProfileCard {
  margin: 0;
  padding: 0;
  width: 12vw;
  display: block;
}

.ProfileCard img {
  width: 11vw;
  border-radius: 10%;
}

.ProfileCard .name {
  font-size: 24pt;
  line-height: 24pt;
  margin-bottom: 5px;
  text-align: center;
}

@media screen and (max-width: 1400px) {
  .ProfileCard .name {
    font-size: 20pt;
  }
}

@media screen and (max-width: 1040px) {
  .ProfileCard .name {
    font-size: 17pt;
    line-height: 17pt;
  }
}

div.StoryTime div.story-text {
  display: block;
  margin: 54px 54px 120px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  width: 80vw;
  font-size: 28pt;
  padding: 42px 48px 48px;
}

@media screen and (max-width: 1400px) {
  div.StoryTime div.story-text {
    margin: 39px 39px 100px;
    font-size: 22pt;
    padding: 31px 40px 34px;
  }
}

@media screen and (max-width: 1040px) {
  div.StoryTime div.story-text {
    margin: 24px 24px 80px;
    font-size: 16pt;
    padding: 20px 32px 22px;
  }
}

div.StoryTime div.story-text.prompt {
  font-size: 34pt;
  margin-top: 150px;
  max-width: 75vw;
}

@media screen and (max-width: 1400px) {
  div.StoryTime div.story-text.prompt {
    font-size: 26pt;
  }
}

@media screen and (max-width: 1040px) {
  div.StoryTime div.story-text.prompt {
    font-size: 18pt;
  }
}

div.StoryTime .writer-cards {
  position: absolute;
  bottom: 2vh;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 1040px) {
  div.StoryTime .writer-cards {
    bottom: 0;
  }
}

div.StoryTime .WriterCard {
  width: 22vw;
}

div.StoryTime .WriterCard .speech-bubble {
  position: relative;
  bottom: 15px;
  background: white;
  color: black;
  font-size: 20pt;
  border-radius: 50px;
  padding: 20px 50px;
  margin: 0 15px;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  text-align: center;
}

@media screen and (max-width: 1400px) {
  div.StoryTime .WriterCard .speech-bubble {
    font-size: 16pt;
    border-radius: 35px;
    padding: 15px 35px;
  }
}

@media screen and (max-width: 1040px) {
  div.StoryTime .WriterCard .speech-bubble {
    font-size: 14pt;
    border-radius: 20px;
    padding: 10px 20px;
  }
}

div.StoryTime .WriterCard .speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: white;
  border-bottom: 0;
  border-left: 0;
  margin-left: -10px;
  margin-bottom: -20px;
}

a {
  display: block;
  text-decoration: none;
  color: #f0ffff;
  margin: 0;
}

.bg-video {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -2;
  display: block;
  min-height: 100%;
}

.center-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: auto;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body.device {
  background-color: white;
  color: black;
  max-width: 100vw;
  height: 100vh;
  text-align: center;
}

body.device .JoinRoom {
  font-size: 20pt;
}

body.device .JoinRoom input.textbox {
  width: 100vw;
  max-width: 300px;
  height: 64px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Gloria Hallelujah", verdana, arial, sans-serif;
  color: #303544;
  margin: 8px 0 20px;
}

body.device .JoinRoom input#room-code {
  font-size: 48pt;
}

body.device .JoinRoom input#player-name {
  font-size: 40pt;
}

body.device .JoinRoom .pictures {
  display: block;
  max-width: 330px;
  max-height: 330px;
  width: 99vw;
  height: 99vw;
  margin: 8px auto 24px;
  padding: 0;
}

body.device .JoinRoom img {
  max-width: 100px;
  max-height: 100px;
  width: 28vw;
  height: 28vw;
  padding: 0;
  margin: 2px 5px;
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
  border-radius: 6px;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  cursor: pointer;
}

body.device .JoinRoom img.selected {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

body.device img.logo {
  width: 80vw;
  max-width: 200px;
  margin: 15px 0 25px 0;
}

body.device .StoryTime textarea {
  font-family: "Nunito", verdana, arial, sans-serif;
  font-size: 14pt;
  padding: 0 4pt;
  width: 98vw;
  margin: 10px auto 24px;
  max-width: 300px;
}

body.device .btn {
  font-size: 20pt;
  background-color: #3fa9f5;
  line-height: 70px;
  width: 90vw;
  max-width: 360px;
  border-radius: 40px;
  color: white;
  margin: 0 0 16px;
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
}

body.device .btn:hover {
  background-color: #6fbff8;
  cursor: pointer;
}

body.device .btn-half {
  width: 42vw;
  max-width: 165px;
  margin-left: 6px;
  margin-right: 6px;
  line-height: 60px;
}

body.device .btn-leave {
  text-decoration: underline;
  color: #500;
  width: 150px;
  margin: auto;
  margin-bottom: 24px;
}

body.device .btn-leave:hover {
  color: #d00;
  cursor: pointer;
}

body.device p {
  width: 95vw;
  max-width: 400px;
  font-size: 19pt;
  padding: 6pt 0 18pt;
}

body.device .font-large {
  font-size: 19pt;
}

body.device div.vote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100vw;
  max-width: 330px;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body.device div.vote img {
  width: 40%;
  height: 40%;
  padding: 0;
  margin: 5px 5px;
  border-radius: 8px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */