.device
  .JoinRoom 
    font-size: 20pt
    overflow: hidden
    input.textbox
      width: 100vw
      max-width: 300px
      height: 64px
      text-align: center
      color: $brand-dark 
      margin: 8px 0 20px
    input#room-code
      font-size: 48pt
      text-transform: uppercase
    input#player-name
      font-size: 42pt
    .pictures
      display: flex 
      justify-content: space-around 
      align-items: space-around
      flex-wrap: wrap
      max-width: 330px
      max-height: 330px
      width: 99vw
      height: 99vw 
      margin: 8px auto 0
      padding: 0
      img 
        max-width: 100px
        max-height: 100px 
        width: 28vw 
        height: 28vw
        filter: brightness(30%)
        border-radius: 8px
        transition-duration: 300ms
        cursor: pointer
      img.selected 
        filter: brightness(120%)
    .btn 
      margin: 0 auto 24px
    div#guest-box
      display: block
      width: 100vw
      max-width: 400px
      margin: 12px 0 8px
      padding: 10px 0 4px
      background-color: #def
      background-image: linear-gradient(#def, white)
