
@keyframes slideInFromLeft 
  0% 
    transform: translateX(-50vw)
  100% 
    transform: translateX(0)
@keyframes slideInFromRight 
  0% 
    transform: translateX(50vw)
  100% 
    transform: translateX(0)
@keyframes slideInFromTop 
  0% 
    transform: translateY(-50vw)
  100% 
    transform: translateY(0)
@keyframes slideInFromBottom
  0% 
    transform: translateY(50vw)
  100% 
    transform: translateY(0)


    

@-webkit-keyframes flexGrow-4 
  to 
    flex: 1
    min-width: 25%

@-o-keyframes flexGrow-4
  to 
    flex: 1
    min-width: 25%
  
@keyframes flexGrow-4
  to 
    flex: 1
    min-width: 25%





@-webkit-keyframes flexGrow-8
  to 
    flex: 1
    min-width: 12.5%
  
@-o-keyframes flexGrow-8 
  to 
    flex: 1
    min-width: 12.5%

@keyframes flexGrow-8 
  to 
    flex: 1
    min-width: 12.5%





@-webkit-keyframes flexGrow-16 
  to 
    flex: 1
    min-width: 6.2%

@-o-keyframes flexGrow-16 
  to 
    flex: 1
    min-width: 6.2%
  
@keyframes flexGrow-16 
  to 
    flex: 1
    min-width: 6.2%








@-webkit-keyframes flexShrink 
  to 
    flex: .01
    flex: .00001
    min-width: 0
  

@-o-keyframes flexShrink 
  to 
    flex: .01
    flex: .00001
    min-width: 0
  

@keyframes flexShrink 
  to 
    flex: .01
    flex: .00001
    min-width: 0