#DeviceDisplay 
  .btn
    background-color: darken($brand-blue, 5%)
    line-height: 80px
    width: 90vw
    max-width: 360px
    border-radius: 40px
    color: white
    margin-bottom: 36px
    transition-duration: 300ms
    &:hover
      background-color: lighten($brand-blue, 10%)
      cursor: pointer