.device
  padding-bottom: 24px
  .btn
    font-size: 20pt
    background-color: $brand-blue
    background-image: linear-gradient(lighten($brand-blue, 5%), darken($brand-blue, 5%))
    line-height: 75px
    width: 86vw
    max-width: 330px
    border-radius: 40px
    color: white
    margin: 0 auto 8px
    transition: background-color 300ms
    &:hover
      background-color: lighten($brand-blue, 10%)
      cursor: pointer
  .btn-half 
    width: 42vw
    max-width: 165px
    margin-left: 6px
    margin-right: 6px
    line-height: 60px
  .btn-link 
    text-decoration: underline 
    color: #235 
    width: 150px
    margin: 4px auto 8px
    font-size: 14pt 
    &:hover
      color: #04d
      cursor: pointer