.device
  .btn
    font-size: 20pt
    background-color: $brand-blue
    background-image: linear-gradient(lighten($brand-blue, 5%), darken($brand-blue, 5%))
    line-height: 70px
    width: 86vw
    max-width: 330px
    border-radius: 40px
    color: white
    margin: 0 auto 16px
    transition: background-color 300ms
    border: 5px solid #e0ebfa
    box-shadow: 2px 4px 6px #aaa
    &:hover
      background-color: lighten($brand-blue, 10%)
      cursor: pointer
  .btn-half 
    width: 42vw
    max-width: 165px
    margin-left: 6px
    margin-right: 6px
    line-height: 60px
  .btn-small 
    line-height: 60px
    font-size: 16pt
    width: 82vw
    padding-bottom: 8px
  .btn-link 
    text-decoration: underline 
    color: #235 
    width: 150px
    margin: 4px auto 8px
    font-size: 14pt 
    &:hover
      color: #04d
      cursor: pointer
  .btn-square 
    display: flex 
    flex-direction: column
    justify-content: center
    width: 45vw 
    height: 45vw
    max-width: 150px
    max-height: 150px
    border: $brand-blue 2px solid 
    border-radius: 20px
    box-shadow: 0 0 3px darken($brand-blue, 20%)
    color: darken($brand-blue, 20%)
    margin: 4px
    font-size: 14pt
    line-height: 12pt
    i 
      font-size: 42pt
      padding-bottom: 18px
      color: $brand-blue